.search_input {
    margin-left: 15px;
    position: relative;

    input[type=text] {
        padding: 12px;
        width: 100%;
        background-color: var(--background_card_color);
        border: none;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 5px;
        color: var(--text-color);
        font-size: 14px;
        padding-left:30px;
    }

    input[type=text]:focus {
        outline: none;
    }

    input[type=text]::placeholder {
        color: var(--text-color);
        font-size: 14px;
        color: var(--search_input_color);
    }

    .icon 
    {
        position: absolute;
        top:8px;
        margin: 0px 10px !important;
        color: var(--search_input_color);
    }
}